# Copy to .env and fill values
DB_HOST=127.0.0.1
DB_NAME=authboard
DB_USER=root
DB_PASS=

# Mailtrap API Configuration
# Get these from: https://mailtrap.io/inboxes
MAILTRAP_API_TOKEN=fde28188fcb13e8dc377219e6c86d1a2
MAILTRAP_INBOX_ID=75423a50-c32b-11f0-0040-f1b9eb5fad74
MAIL_FROM=hello@circlemini.test
MAIL_FROM_NAME=Circle Mini
